body {
    padding-top: 5px;
    background-color: rgb(249, 251, 251);
    color: #000000;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

.bg-dark {
    background-color: rgb(249, 251, 251) !important;

}

.homeName, .navSet {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

.homeName {
 font-size: 30px;
 color:black;
 
}
 .test {
    color:black;
}
