body {
    padding-top: 5px;
    background-color: rgb(17, 14, 14);
    color: #ffe8d5;
    font-family: monospace;
    font-size: 20px;
}

.bg-dark {
    background-color: rgb(17, 14, 14) !important;
}