#reliveCard {

    background: #ffe8d5;
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    border-color: rgb(174, 19, 5);
    border-width: 5px;
   
}

#reliveButton, #nodeButton, #reactButton {
    background-color:rgb(204, 10, 10);
    
}
#reliveColor, #nodeColor {
    color: white;
}



#nodeCard {
    
    background: #ffe8d5;
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    border-color: rgb(174, 19, 5);
    border-width: 5px;
   
}

#cardDeck {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom:50px;
    padding-top: 70px;
}

#reactCard {

    background: #ffe8d5;
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    border-color: rgb(174, 19, 5);
    border-width: 5px;
   
}