

#reliveButton, #nodeButton, #reactButton {
    background-color:white;
    border-color: white;
    
}
#reliveColor, #nodeColor {
    color: #f10606;
}

.relivebg, .nodebg, .reactbg {
    background-color:#f10606;
    border-color:#f10606;
    color: white;

}

.portfolioStyle {
    padding-bottom: 30px;
    font-size: 35px;
    font-family: 'Poiret One', cursive;
    color:black;
}


