

#reliveButton, #nodeButton, #reactButton {
    background-color:rgb(236, 20, 20);
    border-color: rgb(187, 33, 28);
    
}
#reliveColor, #nodeColor {
    color: white;
}

.relivebg, .nodebg, .reactbg {
    background-color: rgb(24, 21, 21)
}


