header.masthead {
    padding-top: 25rem;
    padding-bottom: calc(20rem - 90px);
    background: 
        url("./assets/aine2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#myname {
    border-bottom: 0.2rem solid rgb(231, 231, 231);
    display: inline-block;
    font-family: monospace;
}

