.pStyle {
    font-family: 'Poiret One', cursive;
    letter-spacing: 0.2em;
    
}

h2 {
    letter-spacing: 0.2em;
    font-family: 'Poiret One', cursive;
    padding-bottom: 20px;
   
}

#aboutMe  {
    text-align: center;
    padding-bottom: 200px;
    padding-top: 140px;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    letter-spacing: 0.2em;
    color: black;
}

#p2, #p3 {
    color: black;
}

.aboutMeStyle {
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    color: black;
}