.pStyle {
    font-family: monospace;
    letter-spacing: 0.2em;
    
}

h2 {
    letter-spacing: 0.2em;
    font-family: monospace;
}

#aboutMe  {
    text-align: center;
    padding-bottom: 70px;
    padding-top: 100px;
    font-size: 23px;
    font-family: monospace;
    letter-spacing: 0.2em;
}

