.pStyle {
    font-family: monospace;
    letter-spacing: 0.2em;
    
}

h2 {
    letter-spacing: 0.2em;
    font-family: monospace;
    padding-bottom: 20px;
   
}

#aboutMe  {
    text-align: center;
    padding-bottom: 70px;
    padding-top: 110px;
    font-size: 19px;
    font-family: monospace;
    letter-spacing: 0.2em;
    color: #ffe8d5;
}

#p2, #p3 {
    color: #ffe8d5;
}
