#contact {
    padding-top: 40x;
    padding-bottom: 100px;
    color: black;
    font-weight: 20px;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

#email {
    color:#f10606;
}

h2 {
    font-family: 'Poiret One', cursive;
    padding-bottom: 30px;
    font-size: 35px;
    color:black;
}

.icons {
    color:#f10606;
    fill: rgb(58, 16, 16)

}

.icons:hover {
    background: white;
    fill: #f10606;
    border-color: black;
   

}
