#contact {
    padding-top: 40x;
    padding-bottom: 100px;
    color: black;
    font-weight: 20px;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

#email {
    color:red;
}

h2 {
    font-family: 'Poiret One', cursive;
    padding-bottom: 30px;
    font-size: 35px;
    color:black;
}

.icons {
    color:red;
    fill: rgb(0, 0, 0)

}

.icons:hover {
    background: white;
    fill: red;
    border-color: black;
   

}

.copyRight {
    font-size: 12px;
}
