
.row-skill {
    margin-bottom: 10px;
}

.card-skill {
    background: transparent;
    text-align: center;
    /* border: 1px solid rgba(255, 108, 17, 0.9); */
    padding: 18px;
    fill: #ffe8d5;
    transition: 0.35s;
}

.card-skill:hover {
    background:rgb(198, 9, 9);
    fill: rgb(246, 248, 246);
    border-color: rgb(201, 8, 8);
    box-shadow: 3px 3px 25px rgba(241, 241, 241, 0.5);
}

#skills {
    padding-bottom: 160px;
    padding-top: 100px;
}

#skillSetColor {
    padding-bottom: 18px;
    font-size: 50px;
    font-family: monospace;
    color:#ffe8d5;
}