.pStyle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.2em;
    
}

h2 {
    letter-spacing: 0.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#aboutMe  {
    text-align: center;
    padding-bottom: 70px;
    padding-top: 100px;
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.2em;
}

